{% extends 'HashbookApp/layout.html' %}

{% block title %}
    <title> Edit Comment </title> 
{% endblock %}

{% block style %}
    <style>
        div.editpost-box {
            text-align:center;
            box-shadow:1px 1px 10px 1px lightgray;
            border-radius: 10px;
            padding:30px;
            margin:10px;
        }
    </style>
{% endblock %}

{% block header %}    
{% endblock %}

{% block body %}

    <div class="editpost-box">
        <h3 class="mb-4">Edit your Comment</h3>
        <form class="form" action="{% url 'HashbookApp:cedit' comment.id %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <textarea type="text" name="text" class="form-control" rows="10">{{comment.text}}</textarea>
            </div>        
            <input  class="btn btn-primary" type="submit" value="Submit">
            <input type="hidden" value="{% url 'HashbookApp:post' post.id %}">
        </form>
    </div>
    
{% endblock %}
   